/*
Teams Notification API (Go implementation)

This specification documents the REST endpoints implemented in the Teams Notification Go service. Includes all available routes for internal and external APIs.  ## API Structure - **External APIs** (`/api/v1`): Public APIs for external clients - **Internal APIs** (`/internal/v1`): Internal management APIs - **System APIs**: Health, metrics, and configuration endpoints  ## Recent Updates (v1.0.0) - **Unified Configuration**: Environment-based configuration system - **Error Handling**: Standardized error responses with proper HTTP status codes - **Token Management**: Redis-backed token caching for improved performance - **Monitoring**: Enhanced health checks and system metrics - **Logging**: Structured logging with configurable levels and formats 

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package teamsnotify

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type InternalAPIBillingAPI interface {

	/*
	InternalV1BillingAnalyticsOverviewGet Get billing analytics overview

	Get billing analytics overview

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiInternalV1BillingAnalyticsOverviewGetRequest
	*/
	InternalV1BillingAnalyticsOverviewGet(ctx context.Context) ApiInternalV1BillingAnalyticsOverviewGetRequest

	// InternalV1BillingAnalyticsOverviewGetExecute executes the request
	//  @return BillingAnalyticsResponse
	InternalV1BillingAnalyticsOverviewGetExecute(r ApiInternalV1BillingAnalyticsOverviewGetRequest) (*BillingAnalyticsResponse, *http.Response, error)

	/*
	InternalV1BillingPlansGet List billing plans

	Get a list of billing plans

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiInternalV1BillingPlansGetRequest
	*/
	InternalV1BillingPlansGet(ctx context.Context) ApiInternalV1BillingPlansGetRequest

	// InternalV1BillingPlansGetExecute executes the request
	//  @return BillingPlansResponse
	InternalV1BillingPlansGetExecute(r ApiInternalV1BillingPlansGetRequest) (*BillingPlansResponse, *http.Response, error)

	/*
	InternalV1BillingPlansIdGet Get billing plan

	Get billing plan by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiInternalV1BillingPlansIdGetRequest
	*/
	InternalV1BillingPlansIdGet(ctx context.Context, id string) ApiInternalV1BillingPlansIdGetRequest

	// InternalV1BillingPlansIdGetExecute executes the request
	//  @return BillingPlanResponse
	InternalV1BillingPlansIdGetExecute(r ApiInternalV1BillingPlansIdGetRequest) (*BillingPlanResponse, *http.Response, error)

	/*
	InternalV1BillingPlansIdPut Update billing plan

	Update billing plan by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiInternalV1BillingPlansIdPutRequest
	*/
	InternalV1BillingPlansIdPut(ctx context.Context, id string) ApiInternalV1BillingPlansIdPutRequest

	// InternalV1BillingPlansIdPutExecute executes the request
	//  @return BillingPlanResponse
	InternalV1BillingPlansIdPutExecute(r ApiInternalV1BillingPlansIdPutRequest) (*BillingPlanResponse, *http.Response, error)

	/*
	InternalV1BillingPlansPost Create billing plan

	Create a new billing plan

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiInternalV1BillingPlansPostRequest
	*/
	InternalV1BillingPlansPost(ctx context.Context) ApiInternalV1BillingPlansPostRequest

	// InternalV1BillingPlansPostExecute executes the request
	//  @return BillingPlanResponse
	InternalV1BillingPlansPostExecute(r ApiInternalV1BillingPlansPostRequest) (*BillingPlanResponse, *http.Response, error)

	/*
	InternalV1BillingProjectProjectIdGet Get project billing

	Get project billing information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId
	@return ApiInternalV1BillingProjectProjectIdGetRequest
	*/
	InternalV1BillingProjectProjectIdGet(ctx context.Context, projectId string) ApiInternalV1BillingProjectProjectIdGetRequest

	// InternalV1BillingProjectProjectIdGetExecute executes the request
	//  @return ProjectBillingResponse
	InternalV1BillingProjectProjectIdGetExecute(r ApiInternalV1BillingProjectProjectIdGetRequest) (*ProjectBillingResponse, *http.Response, error)

	/*
	InternalV1BillingProjectProjectIdPut Update project billing

	Update project billing information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId
	@return ApiInternalV1BillingProjectProjectIdPutRequest
	*/
	InternalV1BillingProjectProjectIdPut(ctx context.Context, projectId string) ApiInternalV1BillingProjectProjectIdPutRequest

	// InternalV1BillingProjectProjectIdPutExecute executes the request
	//  @return ProjectBillingResponse
	InternalV1BillingProjectProjectIdPutExecute(r ApiInternalV1BillingProjectProjectIdPutRequest) (*ProjectBillingResponse, *http.Response, error)

	/*
	InternalV1BillingUsageCompanyCompanyIdGet Get company usage

	Get usage records for a company

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param companyId
	@return ApiInternalV1BillingUsageCompanyCompanyIdGetRequest
	*/
	InternalV1BillingUsageCompanyCompanyIdGet(ctx context.Context, companyId string) ApiInternalV1BillingUsageCompanyCompanyIdGetRequest

	// InternalV1BillingUsageCompanyCompanyIdGetExecute executes the request
	//  @return UsageRecordsResponse
	InternalV1BillingUsageCompanyCompanyIdGetExecute(r ApiInternalV1BillingUsageCompanyCompanyIdGetRequest) (*UsageRecordsResponse, *http.Response, error)

	/*
	InternalV1BillingUsageGet Get usage records

	Get usage records with pagination

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiInternalV1BillingUsageGetRequest
	*/
	InternalV1BillingUsageGet(ctx context.Context) ApiInternalV1BillingUsageGetRequest

	// InternalV1BillingUsageGetExecute executes the request
	//  @return UsageRecordsResponse
	InternalV1BillingUsageGetExecute(r ApiInternalV1BillingUsageGetRequest) (*UsageRecordsResponse, *http.Response, error)

	/*
	InternalV1BillingUsageProjectProjectIdGet Get project usage

	Get usage records for a project

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId
	@return ApiInternalV1BillingUsageProjectProjectIdGetRequest
	*/
	InternalV1BillingUsageProjectProjectIdGet(ctx context.Context, projectId string) ApiInternalV1BillingUsageProjectProjectIdGetRequest

	// InternalV1BillingUsageProjectProjectIdGetExecute executes the request
	//  @return UsageRecordsResponse
	InternalV1BillingUsageProjectProjectIdGetExecute(r ApiInternalV1BillingUsageProjectProjectIdGetRequest) (*UsageRecordsResponse, *http.Response, error)

	/*
	InternalV1BillingUsageSummaryGet Get usage summary

	Get usage summary statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiInternalV1BillingUsageSummaryGetRequest
	*/
	InternalV1BillingUsageSummaryGet(ctx context.Context) ApiInternalV1BillingUsageSummaryGetRequest

	// InternalV1BillingUsageSummaryGetExecute executes the request
	//  @return UsageSummaryResponse
	InternalV1BillingUsageSummaryGetExecute(r ApiInternalV1BillingUsageSummaryGetRequest) (*UsageSummaryResponse, *http.Response, error)
}

// InternalAPIBillingAPIService InternalAPIBillingAPI service
type InternalAPIBillingAPIService service

type ApiInternalV1BillingAnalyticsOverviewGetRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	startDate *string
	endDate *string
}

func (r ApiInternalV1BillingAnalyticsOverviewGetRequest) StartDate(startDate string) ApiInternalV1BillingAnalyticsOverviewGetRequest {
	r.startDate = &startDate
	return r
}

func (r ApiInternalV1BillingAnalyticsOverviewGetRequest) EndDate(endDate string) ApiInternalV1BillingAnalyticsOverviewGetRequest {
	r.endDate = &endDate
	return r
}

func (r ApiInternalV1BillingAnalyticsOverviewGetRequest) Execute() (*BillingAnalyticsResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingAnalyticsOverviewGetExecute(r)
}

/*
InternalV1BillingAnalyticsOverviewGet Get billing analytics overview

Get billing analytics overview

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInternalV1BillingAnalyticsOverviewGetRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingAnalyticsOverviewGet(ctx context.Context) ApiInternalV1BillingAnalyticsOverviewGetRequest {
	return ApiInternalV1BillingAnalyticsOverviewGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BillingAnalyticsResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingAnalyticsOverviewGetExecute(r ApiInternalV1BillingAnalyticsOverviewGetRequest) (*BillingAnalyticsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BillingAnalyticsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingAnalyticsOverviewGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/analytics/overview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingPlansGetRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
}

func (r ApiInternalV1BillingPlansGetRequest) Execute() (*BillingPlansResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingPlansGetExecute(r)
}

/*
InternalV1BillingPlansGet List billing plans

Get a list of billing plans

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInternalV1BillingPlansGetRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingPlansGet(ctx context.Context) ApiInternalV1BillingPlansGetRequest {
	return ApiInternalV1BillingPlansGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BillingPlansResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingPlansGetExecute(r ApiInternalV1BillingPlansGetRequest) (*BillingPlansResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BillingPlansResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingPlansGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingPlansIdGetRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	id string
}

func (r ApiInternalV1BillingPlansIdGetRequest) Execute() (*BillingPlanResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingPlansIdGetExecute(r)
}

/*
InternalV1BillingPlansIdGet Get billing plan

Get billing plan by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiInternalV1BillingPlansIdGetRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingPlansIdGet(ctx context.Context, id string) ApiInternalV1BillingPlansIdGetRequest {
	return ApiInternalV1BillingPlansIdGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return BillingPlanResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingPlansIdGetExecute(r ApiInternalV1BillingPlansIdGetRequest) (*BillingPlanResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BillingPlanResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingPlansIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/plans/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingPlansIdPutRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	id string
	billingPlanUpdateRequest *BillingPlanUpdateRequest
}

func (r ApiInternalV1BillingPlansIdPutRequest) BillingPlanUpdateRequest(billingPlanUpdateRequest BillingPlanUpdateRequest) ApiInternalV1BillingPlansIdPutRequest {
	r.billingPlanUpdateRequest = &billingPlanUpdateRequest
	return r
}

func (r ApiInternalV1BillingPlansIdPutRequest) Execute() (*BillingPlanResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingPlansIdPutExecute(r)
}

/*
InternalV1BillingPlansIdPut Update billing plan

Update billing plan by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiInternalV1BillingPlansIdPutRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingPlansIdPut(ctx context.Context, id string) ApiInternalV1BillingPlansIdPutRequest {
	return ApiInternalV1BillingPlansIdPutRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return BillingPlanResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingPlansIdPutExecute(r ApiInternalV1BillingPlansIdPutRequest) (*BillingPlanResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BillingPlanResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingPlansIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/plans/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.billingPlanUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("billingPlanUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.billingPlanUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingPlansPostRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	billingPlanCreateRequest *BillingPlanCreateRequest
}

func (r ApiInternalV1BillingPlansPostRequest) BillingPlanCreateRequest(billingPlanCreateRequest BillingPlanCreateRequest) ApiInternalV1BillingPlansPostRequest {
	r.billingPlanCreateRequest = &billingPlanCreateRequest
	return r
}

func (r ApiInternalV1BillingPlansPostRequest) Execute() (*BillingPlanResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingPlansPostExecute(r)
}

/*
InternalV1BillingPlansPost Create billing plan

Create a new billing plan

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInternalV1BillingPlansPostRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingPlansPost(ctx context.Context) ApiInternalV1BillingPlansPostRequest {
	return ApiInternalV1BillingPlansPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BillingPlanResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingPlansPostExecute(r ApiInternalV1BillingPlansPostRequest) (*BillingPlanResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BillingPlanResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingPlansPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.billingPlanCreateRequest == nil {
		return localVarReturnValue, nil, reportError("billingPlanCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.billingPlanCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingProjectProjectIdGetRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	projectId string
}

func (r ApiInternalV1BillingProjectProjectIdGetRequest) Execute() (*ProjectBillingResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingProjectProjectIdGetExecute(r)
}

/*
InternalV1BillingProjectProjectIdGet Get project billing

Get project billing information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiInternalV1BillingProjectProjectIdGetRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingProjectProjectIdGet(ctx context.Context, projectId string) ApiInternalV1BillingProjectProjectIdGetRequest {
	return ApiInternalV1BillingProjectProjectIdGetRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectBillingResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingProjectProjectIdGetExecute(r ApiInternalV1BillingProjectProjectIdGetRequest) (*ProjectBillingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectBillingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingProjectProjectIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/project/{projectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingProjectProjectIdPutRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	projectId string
	projectBillingUpdateRequest *ProjectBillingUpdateRequest
}

func (r ApiInternalV1BillingProjectProjectIdPutRequest) ProjectBillingUpdateRequest(projectBillingUpdateRequest ProjectBillingUpdateRequest) ApiInternalV1BillingProjectProjectIdPutRequest {
	r.projectBillingUpdateRequest = &projectBillingUpdateRequest
	return r
}

func (r ApiInternalV1BillingProjectProjectIdPutRequest) Execute() (*ProjectBillingResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingProjectProjectIdPutExecute(r)
}

/*
InternalV1BillingProjectProjectIdPut Update project billing

Update project billing information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiInternalV1BillingProjectProjectIdPutRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingProjectProjectIdPut(ctx context.Context, projectId string) ApiInternalV1BillingProjectProjectIdPutRequest {
	return ApiInternalV1BillingProjectProjectIdPutRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectBillingResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingProjectProjectIdPutExecute(r ApiInternalV1BillingProjectProjectIdPutRequest) (*ProjectBillingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectBillingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingProjectProjectIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/project/{projectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectBillingUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("projectBillingUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectBillingUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingUsageCompanyCompanyIdGetRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	companyId string
}

func (r ApiInternalV1BillingUsageCompanyCompanyIdGetRequest) Execute() (*UsageRecordsResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingUsageCompanyCompanyIdGetExecute(r)
}

/*
InternalV1BillingUsageCompanyCompanyIdGet Get company usage

Get usage records for a company

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param companyId
 @return ApiInternalV1BillingUsageCompanyCompanyIdGetRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingUsageCompanyCompanyIdGet(ctx context.Context, companyId string) ApiInternalV1BillingUsageCompanyCompanyIdGetRequest {
	return ApiInternalV1BillingUsageCompanyCompanyIdGetRequest{
		ApiService: a,
		ctx: ctx,
		companyId: companyId,
	}
}

// Execute executes the request
//  @return UsageRecordsResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingUsageCompanyCompanyIdGetExecute(r ApiInternalV1BillingUsageCompanyCompanyIdGetRequest) (*UsageRecordsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UsageRecordsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingUsageCompanyCompanyIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/usage/company/{companyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"companyId"+"}", url.PathEscape(parameterValueToString(r.companyId, "companyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingUsageGetRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	limit *int32
	offset *int32
	companyId *string
	projectId *string
}

// Number of items to return
func (r ApiInternalV1BillingUsageGetRequest) Limit(limit int32) ApiInternalV1BillingUsageGetRequest {
	r.limit = &limit
	return r
}

// Number of items to skip
func (r ApiInternalV1BillingUsageGetRequest) Offset(offset int32) ApiInternalV1BillingUsageGetRequest {
	r.offset = &offset
	return r
}

func (r ApiInternalV1BillingUsageGetRequest) CompanyId(companyId string) ApiInternalV1BillingUsageGetRequest {
	r.companyId = &companyId
	return r
}

func (r ApiInternalV1BillingUsageGetRequest) ProjectId(projectId string) ApiInternalV1BillingUsageGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiInternalV1BillingUsageGetRequest) Execute() (*UsageRecordsResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingUsageGetExecute(r)
}

/*
InternalV1BillingUsageGet Get usage records

Get usage records with pagination

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInternalV1BillingUsageGetRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingUsageGet(ctx context.Context) ApiInternalV1BillingUsageGetRequest {
	return ApiInternalV1BillingUsageGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UsageRecordsResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingUsageGetExecute(r ApiInternalV1BillingUsageGetRequest) (*UsageRecordsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UsageRecordsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingUsageGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	if r.companyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company_id", r.companyId, "form", "")
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingUsageProjectProjectIdGetRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	projectId string
}

func (r ApiInternalV1BillingUsageProjectProjectIdGetRequest) Execute() (*UsageRecordsResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingUsageProjectProjectIdGetExecute(r)
}

/*
InternalV1BillingUsageProjectProjectIdGet Get project usage

Get usage records for a project

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiInternalV1BillingUsageProjectProjectIdGetRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingUsageProjectProjectIdGet(ctx context.Context, projectId string) ApiInternalV1BillingUsageProjectProjectIdGetRequest {
	return ApiInternalV1BillingUsageProjectProjectIdGetRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return UsageRecordsResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingUsageProjectProjectIdGetExecute(r ApiInternalV1BillingUsageProjectProjectIdGetRequest) (*UsageRecordsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UsageRecordsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingUsageProjectProjectIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/usage/project/{projectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInternalV1BillingUsageSummaryGetRequest struct {
	ctx context.Context
	ApiService InternalAPIBillingAPI
	companyId *string
	projectId *string
	startDate *string
	endDate *string
}

func (r ApiInternalV1BillingUsageSummaryGetRequest) CompanyId(companyId string) ApiInternalV1BillingUsageSummaryGetRequest {
	r.companyId = &companyId
	return r
}

func (r ApiInternalV1BillingUsageSummaryGetRequest) ProjectId(projectId string) ApiInternalV1BillingUsageSummaryGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiInternalV1BillingUsageSummaryGetRequest) StartDate(startDate string) ApiInternalV1BillingUsageSummaryGetRequest {
	r.startDate = &startDate
	return r
}

func (r ApiInternalV1BillingUsageSummaryGetRequest) EndDate(endDate string) ApiInternalV1BillingUsageSummaryGetRequest {
	r.endDate = &endDate
	return r
}

func (r ApiInternalV1BillingUsageSummaryGetRequest) Execute() (*UsageSummaryResponse, *http.Response, error) {
	return r.ApiService.InternalV1BillingUsageSummaryGetExecute(r)
}

/*
InternalV1BillingUsageSummaryGet Get usage summary

Get usage summary statistics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInternalV1BillingUsageSummaryGetRequest
*/
func (a *InternalAPIBillingAPIService) InternalV1BillingUsageSummaryGet(ctx context.Context) ApiInternalV1BillingUsageSummaryGetRequest {
	return ApiInternalV1BillingUsageSummaryGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UsageSummaryResponse
func (a *InternalAPIBillingAPIService) InternalV1BillingUsageSummaryGetExecute(r ApiInternalV1BillingUsageSummaryGetRequest) (*UsageSummaryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UsageSummaryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalAPIBillingAPIService.InternalV1BillingUsageSummaryGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/v1/billing/usage/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.companyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company_id", r.companyId, "form", "")
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
